#search{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#search>label {
    color: white;
}
#search>input{
    height: 20px;
    border-radius: 5px;
    border: none;
}
#search>button{
    background-color: orange;
    border-radius: 5px;
    color: white;
}